.openai-chat-logs-table th:nth-child(4),
.openai-chat-logs-table td:nth-child(4) {
    width: 50%;
}

.openai-chat-logs-table th:nth-child(1),
.openai-chat-logs-table td:nth-child(1) {
    width: 15%;
}

.openai-chat-logs-table th:nth-child(2),
.openai-chat-logs-table td:nth-child(2) {
    width: 20%;
}

.openai-chat-logs-table th:nth-child(3),
.openai-chat-logs-table td:nth-child(3) {
    width: 15%;
}

/* Message type styles */
.openai-chat-logs-table .message-type-assistant td:nth-child(3),
.openai-chat-logs-table .message-type-assistant td:nth-child(4) {
    font-style: italic;
}

.openai-chat-logs-table td strong {
    font-weight: normal;
} 